
/************** ACTIVITY **************/

.activity h2 {
    margin-top: 50px;
    padding-left: 25px;
}

.container-activity {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.container-activity a {
    width: 25%;
}

.card-activity {
    margin: 20px 20px 20px 14px;
    border-radius: 20px;
    height: 400px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-activity img {
    min-width: 19rem;
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card-activity h3 {
    padding: 0 0 20px 20px;
    font-size: 16px;
}