
/* Le code ci-dessous correspond à la version responsive uniquement */


/********** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /**************** HEBERGEMENTS AND POPULAIRES ****************/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .container-activity {
        width: 924px;
    }

    .container-activity .card-activity {
        width: 193.5px;
    }


    /*********************  FORMULAIRE  *********************/
    .info-title {
        width: 924px;
     }

    .first-title-contenair{
        font-size: 22px;
    }

    .first-title-contenair span {
        font-size: 16px;
    }

     .search-bar {
        width: 377px;
     }

     .icon-search-bar {
        width: 55px;
    }

    .input_field {
        width: 220px;
     }

    #button {
        width: 150px;
    }

    /******************** FILTRE ********************/
    .filtres {
        width: 924px;
    }

    .title-filtre .span_filtre {
        position: relative;
        top: -18px;
    }

    .groupe_1, .groupe_2 {
        position: relative;
        top: 30px;
        left: -72px;
    }


    /********************* HOUSING *********************/
    .icon_info {
        position: relative;
        top: 15px;
    }

    #info {
        top: 15px;
    }


    .container-activity .card-activity {
        width: 193.5px;
        height: 270px;
    }

    .container-activity .card-activity img {
        width: 100%;
        height: 73%;
    }

    .card-txt h3 {
        font-size: 16px;
        padding: 5px 3px;
    }

    /*********************  FOOTER ******************** */
    footer {
        width: 924px;
    }

    .element-footer {
        margin-right: 100px;
        padding: 5px;
    }
}





/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {


    .main-container {
        width: 375px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


    /*********************  BARRE DE NAVIGATION *********************/

    header {
        display: flex;
        flex-direction: column;
    }

    .logo-Booki img {
        width: 121.09px;
        padding: 30px;
        height: 79px;
    }

    nav ul {
        display: flex;
        max-width: 375px;
        width: 100%;
        margin: 2px 0 30px 0;
    }

    nav ul li {
        font-size: 16px;
        text-align: center;
        padding: 0 10px;
    }




    /*********************  FORMULAIRE  *********************/

    .info-title {
        width: 375px;
    }

    .first-title-contenair {
        font-size: 22px;
        width: 335px;
        margin: 5px 0px 0px 20px;
    }
    .first-title-contenair span {
        font-size: 16px;
    }

    .search-bar{
        width: 335px;
        height: 49px;
        border-radius: 15px;
        margin: 40px 0px 0px 20px;
    }

    #button {
        width: 49px;
        border-radius: 15px;
        padding: 15px, 16px, 15px, 16px;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
    }

    #button .span {
        visibility:hidden;
    }

    .input_field {
        width: 335px;
        font-size: 17px;
        border-radius: 0px 10px 10px 0px;
    }

    .icon-search-bar {
        width: 50px;
        padding: 15px;
    }

    .search {
        display: flex;
        padding: 5px;
        color: white;
    }


    /******************** FILTRE ********************/

    .filtres {
        flex-direction: column;
        width: 335px;

    }

    .span_filtre{
        margin: 20px 0px -15px 7px;
        font-size: 18px;
    }

    .element .filtre_B {
        width: 167px;
        position: relative;
        top: -15px;
        left: 87px;
        margin-bottom: 20px;
        border: 2px solid rgba(223, 230, 233);
        border-radius: 25px;
        font-size: 17px;
    }

    .icon {
        position: relative;
        left: -10px;
    }

    .icon-familial, .button-familial {
        position: relative;
        left: -25px;
    }


    /********************* HOUSING *********************/

    .housing_container {
        display: flex;
        flex-direction: row;
        max-width: 335px;
        margin-bottom: 0px;
    }

    .icon_info {
        position: relative;
        top: -20px; left: 18px;
        font-size: 20px;
        padding: 5px;
    }

    #info {
        position: relative;
        top: -20px;
        left: 30px;
    }



     /*********************  POPULAIRES *********************/

     .populaires {
        order: -1;
        width: 375px;
        margin-top: 20px;
        /* position: relative;
        left: -50px;
        top: -30px; */
        border-radius: 0px;
      }

     .populaires .populaires-cards {
        display: block;
        width: 335px;
        margin-left: -10px;
    }

    .section-title {
        margin: 18px 0px 0px 4px;
        font-size: 22px;
    }




    /*********************  HEBERGEMENTS *********************/

    .hebergements {
        background-color: white;
        /* position: relative;
        left: -50px;
        top: -10px; */
        width: 375px;
    }
    .hebergement-cards {
        align-items: center;
        margin-left: -10px;
    }

    .hebergements #hébergementàMarseille {
        margin: 10px 0 0 -8px;
        font-size: 22px;
    }

    .cards-content {
        width: 335px;
    }

    .card-txt img {
        width: 100%;
        object-fit: cover;
    }




    /*********************  ACTIVITY *********************/

    #ActviteàMarseille {
        font-size: 22px;
    }

    .container-activity {
        width: 375px;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }

    .container-activity .card-activity {
        width: 335px;
        height: 270px;
    }

    .container-activity .card-activity img {
        width: 100%;
        height: 80%;
    }
    .card-txt h3 {
        font-size: 16px;
    }



     /*********************  FOOTER ******************** */

     footer {
       width: 375px;
       font-size: 18px;
       margin: 10px 0px 0px 0px;
     }
    .footer {
        flex-direction: column;
    }

    .footer .element-footer {
        width: 263.67px;
    }

    .footer .element-footer h3 {
        font-size: 18px;
    }

    .footer .element-footer p a{
        font-size: 16px;
    }
}