
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /********** HEBERGEMENT **********/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }


    /********** FILTRE **********/
    .filters-elements {
        display: block;

    }


    /********** POPULAIRES **********/
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    /********** ACTVITE **********/

    .card-activity{
        height: 250px;
    }

    .card-activity img {
        min-width: 12rem;
        height: 76%;
    }

    .card-activity h3 {
        padding: 0 0 15px 15px;
        font-size: 15px;
    }


    /********** FOOTER **********/
    .footer {
        width: 100%;
    }

    .element-footer {
        width: 100%;
        margin-right: 80px;
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    .main-container {
        padding: 0;
        box-sizing: border-box;
    }


    /********** HEADER **********/

    nav #logo{
        margin: auto;
    }
    .sub-nav{
       flex-basis: 100%;
       display: flex;
    }
    .sub-nav a {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid rgba(189, 195, 199,0.3);
    }
    .sub-nav a:hover{
        border-bottom-color: #0065FC;
        border-top-color: transparent ;
    }

    .first-container h1 {
        font-size: 22px;
        padding-left: 15px;
    }

    .first-container p {
        padding-left: 15px;
        font-size: 16.5px;
    }

    .search-form {
        padding-left: 15px;
    }

    .search-form input{
        width: 55%;
        font-size: 20px;
        border-radius: 0 8px 8px 0;
    }

    .search-form .search-text {
        display: none;
    }
    .search-form .search-icon {
        display: flex;
        background-color: #0065FC;
        color: white;
        padding: 0 1px;
        border-radius: 10px;
    }
    .search-form button {
        border-radius: 15px;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
        margin-left: -4px;
        height: 45px;
    }

    .search-result #info {
        font-size: 15px;
    }



    /********** FILTER **********/

    .filters-elements h2 {
        padding-left: 15px;
        margin-bottom: -5px;
    }

    .filters-group button {
        width: 45%;
        padding-right: 25px;
    }

    .filters-group .filter-familial{
        padding-right: 48px;
    }

    .filters-group {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        padding-left: 15px;
    }

    .search-result {
        padding-left: 15px;
        margin-top: 15px;
    }

    /********** HEBERGEMENT **********/

    .hebergements-and-populaires section {
        padding: 10px;
    }

    .hebergements-and-populaires .hebergements{
        background-color: white;
        margin-top: 20px;
        padding: 5px;
    }

    .hebergement-cards {
        flex-direction: column;
        width: 100%;
      }

    #hébergementàMarseille{
        font-size: 20px;
        margin-top: 20px;
        padding-left: 18px;
    }


    /********** POPULAIRES **********/

    .hebergements-and-populaires .populaires{
        order: -1;
        margin: 0;
        border-radius: 0px;
        padding: 15px;
    }

    .populaires .populaires-cards {
        display: block;
    }


    /********** ACTVITY **********/

    #ActviteàMarseille{
        margin-top: 90px;
    }

    .card-activity-container {
        display: flex;
        flex-direction: column;
    }
    
    .container-activity {
        flex-direction: column;
        width: 100%;
      }

      .card-activity{
        height: 200px;
        margin-right: 10px;
      }

      .card-activity img {
        height: 72%;
    }

    .footer-container{
        flex-direction: column;
    }


    /********** FOOTER **********/

    footer {
        width: 100%;
      }
     .footer-container {
        flex-direction: column;
     }

     .element-footer {
        width: 100%;
        padding-left: 10px;
    }
}