
/* Le code ci-dessous correspond à la version responsive uniquement */


/********** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}





/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {


    body {
        width: 490px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }


            /*********************  BARRE DE NAVIGATION *********************/

        header {
            display: flex;
            flex-direction: column;
        }

        .logo-Booki img {
            width: 121.09px;
            padding: 30px;
            height: 79px;
            position: relative;
            left: 25px;
        }

        nav ul {
            display: flex;
            position: relative;
            left: 10px;
        }

        nav ul li {
            font-size: 25px;
            padding: 0 25px 0 35px;
        }

        .first-title-contenair {
            /* width: 120%; */
            font-size: 28px;
            margin: 50px -20px 10px -20px;
        }
        .first-title-contenair span {
            font-size: 20.5px;
        }




    /*********************  FORMULAIRE *********************/

       .search-bar {  
            position: relative;
            top: 5px;
            left: -20px;
         }

        #button {
            width: 50px;
            height: 50px;
            border-radius: 30%;
            margin-right: 0;
            filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
        }

        #button .span {
            visibility:hidden;
        }

        .input_field {
            width: 329px;
            font-size: 28px;
        }

        .icon-search-bar {
            width: 50px;
            padding: 15px;
        }

        .search {
            display: flex;
            padding: 5px;
            color: white;
        }



    /******************** FILTRE ********************/

    .filtres {
        flex-direction: column;
        position: relative;
        top: 15px;
        left: -20px;
    }

    .span_filtre{
        position: relative;
        bottom: 10px;
    }

    .element .filtre_B {
        width: 215px;
        margin-bottom: 20px;
        border: 2px solid rgba(223, 230, 233);
        border-radius: 25px;
        font-size: 20px;
    }

    .icon {
        position: relative;
        left: -10px;
    }

    .icon-familial, .button-familial {
        position: relative;
        left: -25px;
    }



    /*********************  HOUSING ******************** */

    .housing_container .icon_info {
        display: block;
    }

    .icon_info {
        position: relative;
        margin-left: -20px;
        font-size: 30x;
    }

    #info {
        width: 100%;
        font-size: 20px;
        position: relative;
        top: -38px; left: 25px;
    }



     /*********************  POPULAIRES *********************/

     .populaires {
        order: -1;
        width: 515px;
        position: relative;
        left: -50px;
        top: -80px;
        border-radius: 0px;
      }

     .populaires .populaires-cards {
        display: block;
        width: 100%;
    }

    .section-title {
        margin-top: 18px;
    }




    /*********************  HEBERGEMENTS *********************/

    .hebergements {
        background-color: white;
        position: relative;
        left: -50px;
        top: -50px;
    }
    .hebergement-cards {
        align-items: center;
        margin-left: 5px;
    }

    .cards-content {
        width: 450px;
    }

    .card-txt img {
        width: 100%;
        object-fit: cover;
    }




    /*********************  ACTIVITY *********************/

    #ActviteàMarseille {
        position: relative;
        top: -50px;
        left: -35px;
    }

    .container-activity {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }

    .container-activity .card-activity {
        width: 450px;
        height: 270px;
        position: relative;
        position: relative;
        top: -30px;
        left: -35px;
    }

    .container-activity .card-activity img {
        width: 100%;
        height: 80%;
    }



     /*********************  FOOTER ******************** */

     footer {
       width: 515px;
       position : sticky;
       font-size: 18px;
       margin: 15px -50px 0px -50px;
     }
    .footer {
        flex-direction: column;
    }
}