/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}
/******************** BARRE DE NAVIGATION ********************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

nav ul li {
    text-decoration: none;
    display: inline;
    margin-left: 75px;
    font-size: 22px;
    position: relative;
    color: #333;
}

/* Pas d'espace à gauche pour le premier élément (IMAGE LOGO)*/
nav ul li:first-child{
    margin-left: 0;
}

/* Bordure au survol */
nav ul li a:hover {
    color: #00f;
}

/* Bordure bleue en version desktop */
@media screen and (min-width: 768px) {
    nav ul li a:hover::before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #00f;
    }
}

/* Bordure bleue en version mobile */
@media screen and (max-width: 767px) {
    nav ul li a:hover::after {
        content: '';
        position: absolute;
        bottom: -5px; 
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #00f;
    }
}

/* Styliser le paragraphe du first_container */
.title {
    margin: 40px 0 35px 0;
}
.title span {
    font-size: 18px;
    font-weight: normal;
}

/* STYLISER LES 3 PARTIES DU FORMULAIRES */
.three_elements {
    display: flex;
    width: 100%;
    margin: 40px 0 35px 0;
}

/* ICON DE LOCALISATION */
.icon_1 {
    width: 5%;
    padding: 13px;
    font-size: 20px;
    color: #000;
    background-color: rgba(223, 230, 233,0.6);
    text-align: center;
    border-radius: 12px 0 0 12px;
}

/* FORMULAIRE */
.input_field {
    width: 16%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgba(223, 230, 233,0.6);
}

/* Button Recherche */
#button{
    width: 12%;
    background-color: #0065fc;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 8px;
    border: none;
    border-radius: 0 12px 12px 0;
    font-weight: bold;
}


/* .icon-search {
    display: none;
    width: 5%;
    background-color: #0065fc;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 18px;
    border: none;
    border-radius: 32%;
    font-weight: bold;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
} */

/* Styliser le filtre */
.filtres{
    display: flex;
    margin: 40px 0 35px 0;
}
.span_filtre{
    padding: 12px;
}

.groupe_1, .groupe_2 {
    display: flex;
    align-items: center;
    /* margin-right: 10px; */
}
.element i {
    width: 30px;
    height: auto;
}
.element #icon_button{
    margin-right: 15px;
    padding: 12px;
    background-color: #ffff;
    border: 4px solid rgba(223, 230, 233);
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
}
.element #icon_button:hover{
    background-color: rgba(9, 132, 227,0.2);
}
/* Styliser la PArtie Info */
.housing_container{
    margin: 40px 0 35px 0;
} 
.icon_info {
    width: 30px;
    padding: 5px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 1px solid rgba(223, 230, 233,0.8);
    border-radius: 60%;
}
#info{
    position: relative;
    left: 10px;
}
/* MAIN */
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
